.login-page {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #222;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-container h1{
    color: #fff;
    font-size: 24px;
    text-align: center;  
    margin-top: 1px;
    margin-bottom: 10px;
  } 
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #ff5555;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  